@font-face {
  font-family: "poppins";
  src: url("https://fonts.gstatic.com/s/poppins/v22/pxiByp8kv8JHgFVrLCz7Z1xlFQ.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "poppins", sans-serif;
}
html,
body {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
